<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit plant</title>
</head>
<body>
<h1>Edit plant</h1>
<form th:action="@{'/plants/' + ${plant.id} + '/edit'}" th:object="${plant}" method="post" >
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:field="*{name}">
    <span th:if="${nameError}" th:text="${nameError}" class="error-message"></span>
    <br/><br/>

    <label for="type">Type:</label>
    <input type="text" id="type" name="type" th:field="*{type}">
    <span th:if="${typedError}" th:text="${typeError}" class="error-message"></span>
    <br/><br/>

    <label for="color">Color:</label>
    <input type="text" id="color" name="color" th:field="*{color}">
    <span th:if="${colorError}" th:text="${colorError}" class="error-message"></span>
    <br/><br/>

    <button type="submit">Save</button>
</form>
</body>
</html>
