<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit plant</title>
</head>
<body>
<h1>Edit plant</h1>
<form th:action="@{/plants/{id}}" th:object="${plant}" th:method="put" method="post">
    <label>name: <input type="text" th:field="*{name}" /></label><br>
    <label>type: <input type="text" th:field="*{type}" /></label><br>
    <label>color: <input type="text" th:field="*{color}" /></label><br>
    <input type="submit" value="Edit plant" />
</form>
</body>
</html>
